<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fraud Detection Application</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>

            </nav>
            <h3 class="text-muted">Welcome to Fraud Detection System</h3>
        </div>

        <div class="jumbotron">
            <h1>Fraud Detection Application</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="carRepair" role="button">Fraud Detection Using Car Repair</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-lg btn-success" href="otherFeatures" role="button">Fraud Detection Using Other Features</a></p>
        </div>
        <!--
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
      -->
    </div>
</body>

</html>
