<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fraud Detection Application</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
        </nav>
        <h3 class="text-muted">Fraud Deletection Application</h3>
      </div>

      <div class="jumbotron">
        <h3>Fraud Detection Using Car Repair</h3>
        <form class="form-signin">

        <label class="sr-only">Price of the Part</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Price of the Part" required autofocus><br></br>
        <label for="inputEmail" class="sr-only">Car Model</label>
        <input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Car Model" required autofocus><br></br>
        <label for="inputPassword" class="sr-only">Car Part</label>
        <input type="text" name="inputPassword" id="inputPassword" class="form-control" placeholder="Car Part" required><br></br>
        <label for="inputPassword" class="sr-only">Location</label>
        <input type="text" name="location" id="location" class="form-control" placeholder="Repair Location" required><br></br>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
        </form>
      </div>


    </div>
  </body>
</html>
