<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fraud Detection Application</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">Welcome to Fraud Detection System</h3>
        </div>

        <div class="jumbotron">
            <h3>{{var1}}</h3>
        </div>

    </div>
</body>

</html>
